@{
    List<Products> newProducts = ViewBag.NewProducts;
    List<Products> discountProducts = ViewBag.DiscountProducts;
    List<Products> giftProducts = ViewBag.GiftProducts;
    var isAuthenticated = Context.User.Identity.IsAuthenticated;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewFlowersShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" href="./img_s/logo.svg" type="image/icon-x" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Marmelad&family=Rufina:wght@200;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/NewFlowersShop.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="block1">
        <div class="box1">
            <h1>
                Цветы – лучший способ<br />
                выразить чувства
            </h1>
            <button><a href="@Url.Action("CatalogPage", "Home")">выбрать букет</a></button>
        </div>
    </div>
    <div class="block2">
        <h1>Новинки</h1>
        <div class="box2">
            @if (newProducts != null)
            {
                foreach (var product in newProducts)
                {
                    <div class="product" data-id="@product.ProductID">
                        <img src="@product.Photo" class="imageProduct" alt="@product.ProductName" />
                        <h4 class="nameProduct">@product.ProductName</h4>
                        <h5 class="priceProduct">@product.Price</h5>
                        <button>в корзину</button>
                    </div>
                }
            }
            else
            {
                <p>Нет новинок</p>
            }
        </div>
    </div>
    <div class="block3">
        <h1>Товары со скидкой</h1>
        <div class="box2">
            @if (discountProducts != null)
            {
                foreach (var product in discountProducts)
                {
                    <div class="product" data-id="@product.ProductID">
                        <img src="@product.Photo" class="imageProduct" alt="@product.ProductName" />
                        <h4 class="nameProduct">@product.ProductName</h4>
                        <h5 class="priceProduct">@product.Price</h5>
                        <button>в корзину</button>
                    </div>
                }
            }
            else
            {
                <p>Нет товаров со скидкой</p>
            }
        </div>
    </div>
    <div class="block4">
        <h1>Подарки</h1>
        <div class="box2">
            @if (giftProducts != null)
            {
                foreach (var product in giftProducts)
                {
                    <div class="product" data-id="@product.ProductID">
                        <img src="@product.Photo" class="imageProduct" />
                        <h4 class="nameProduct">@product.ProductName</h4>
                        <h5 class="priceProduct">@product.Price</h5>
                        <button>в корзину</button>
                    </div>
                }
            }
            else
            {
                <p>Нет подарков</p>
            }
        </div>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function redirectToProduct(productID) {
        window.location.href = '/Home/ProductPage/' + productID;
    }

    $(document).ready(function () {
        $('.product').on('click', function () {
            const productID = $(this).data('id');
            if (productID) {
                window.location.href = '/Home/ProductPage/' + productID;
            }
        });
    });
</script>