@model List<OrderViewModel>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NewFlowersShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" href="./img_s/logo.svg" type="image/icon-x" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="http<!DOCTYPE html>
s://fonts.googleapis.com/css2?family=Irish+Grover&family=Marmelad&family=Rufina:wght@200;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/NewFlowersShop.styles.css" asp-append-version="true" />
</head>
  <body>
    <div class="basket">
      <h1>История заказов</h1>
      <div class="infoHistory">
        <div class="table-container">
          <div class="table-header">
            <div class="table-header-cell">№ заказа</div>
            <div class="table-header-cell" style="color: white">Товар</div>
            <div class="table-header-cell">Название</div>
            <div class="table-header-cell">Статус</div>
            <div class="table-header-cell">Количество</div>
            <div class="table-header-cell">Сумма</div>
            <div class="table-header-cell"></div>
          </div>
          <div class="table-body">
           @foreach (var order in Model)
                    {
                        <div class="table-row">
                            <div class="table-cell">@order.OrderID</div>
                            <div class="table-cell products-cell">
                                @foreach (var product in order.Products)
                                {
                                    <div class="product-item">
                                        <img src="@product.Photo" class="imageProductBasket">
                                    </div>
                                }
                            </div>
                            <div class="table-cell products-cell">
                                @foreach (var product in order.Products)
                                {
                                    <div class="table-cell products-cell" style="margin:0;">
                                        <div class="product-item" style="margin:0;">@product.ProductName</div>
                                    </div>
                                }
                            </div>
                            <div class="table-cell">
                                @(order.StatusID == 1 ? "В обработке" : order.StatusID == 2 ? "Доставлен" : "Отменен")
                            </div>
                            <div class="table-cell">
                                @order.Products.Sum(p => p.Quantity)
                            </div>
                            <div class="table-cell">@order.TotalAmount ₽</div>
                            <div class="table-cell">
                <button class="buttonAllow" type="button" onclick="goToOrderDetails(@order.OrderID)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"
                    />
                  </svg>
                </button>
              </div>
                        </div>
                    }
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
             function goToOrderDetails(orderId) {
            window.location.href = `/Home/DetailedOrderHistoryPage?orderId=` + orderId;
        }
    </script>
  </body>
</html>
